.deployment-area-container
{
    height: 100%;
}
.ide-deploy-header
{
    height:30%;
    font-family: Arial, Helvetica, sans-serif;   
    display: flex;
    align-items: center;
    padding:0px 10px;
}
.ide-deploy-content
{
    height: 70%;
    display: flex;
}
.ide-deploy-field
{
    width:20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding:0px 10px;
    border:1px solid red;
}
.ide-deploy-action
{
    width:20%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.ide-deploy-field-row
{
    height: 30px;
    width: 50%;
    border: 1px solid green;
    font-family: Arial, Helvetica, sans-serif;  
    display: flex;
    align-items: center;
}