.left-bar-container
{
    height:100vh;
    width:15%;
    border:1px solid red;
}
.ide-content
{
    border:'2px solid blue'
}
.left-bar-header
{
    height:10%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}