.node-info-container
{
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 20px;
    overflow-y: scroll;
}

/* To delete this div */
.node-info-temp-item
{
    padding: 10px;
    width: 90%;
    margin: 10px 0px;
    -webkit-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.31); 
    box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.31);
}
.node-info-temp-item-key
{
    font-weight: bold;
}
.node-info-temp-item-content
{
    font-style: italic;
}