.node-info-left
{
    width: 58%;
    height: 100%;
}

.node-info-container
{
    height: auto;
    width: 100%;
    overflow-y: scroll;
    border: 2px solid var(--border);
    border-radius: 10px;
    margin-right: 40px;
}
.node-info-container-header
{
    padding: 20px;
    border-bottom: 1px solid var(--border);
}
.node-info-container-content
{

}

/* To delete this div */
.node-info-temp-item
{
    width: 100%;
    border-bottom: 1px solid var(--border);
    padding: 10px 20px;
    display: flex;
    font-size: 0.9rem;
}
.node-info-temp-item-key
{
    font-weight: bold;
    width: 25%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.node-info-temp-item-content
{
    font-style: italic;
    width: 75%;
    display: flex;
    align-items: center
}
.node-info-container-stats-bar
{
    height: auto;
    border: 1px solid var(--border);
    border-radius: 10px;
    margin-top: 20px;
}
.node-info-container-stats-bar-header
{
    padding: 20px;
    border: 2px solid yellow;
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
}
.node-info-container-stats-bar-ratio
{
    height: 10%;
    display: flex;
    border-bottom: 1px solid var(--border);

}
.node-info-container-stats-bar-key
{
    padding: 10px 20px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.node-info-container-stats-bar-key img 
{
    height: 30px;
    object-fit: contain;
}
.node-info-container-stats-bar-value
{
    padding: 10px 20px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.node-info-container-stats-bar-data
{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.node-info-container-stats-bar-barchart
{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.node-info-delete-btn
{
    height: auto;
    border: 1px solid var(--border);
    border-radius: 10px;
    margin-top: 20px;
    padding: 30px;
}
.node-info-delete-btn button 
{
    padding: 10px 25px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
    transform: scale(1);
}
.node-info-delete-btn button:hover 
{
    transform: scale(1.1);
    cursor: pointer;
}