
.top-bar-content-header
{
    height: 10%;
    font-family: Arial, Helvetica, sans-serif;  
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    justify-content: space-between;
    background-color: var(--dark);
    border-bottom: var(--border);
    color: var(--font);
    border-bottom: 1px solid var(--border);
}


.top-bar-content-header-left
{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.top-bar-content-header-right
{
    height: 100%;
    width: 30%;
    display: flex;
}
.top-bar-content-header-right-left
{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
.top-bar-content-header-right-left span 
{
    color: white;
    font-size: 1.1rem;
}



.top-bar-content-header-right-right
{
    height: 100%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.top-bar-content-header-right-right img 
{
    height: 20px;
    object-fit: contain;
}