
.top-bar-content-header
{
    height: 10%;
    border: 1px solid red;
    font-family: Arial, Helvetica, sans-serif;  
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    justify-content: space-between;
}


.top-bar-content-header-left
{
    height: 100%;
    border: 1px solid red;
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.top-bar-content-header-right
{
    height: 100%;
    width: 30%;
    border: 1px solid green;
    display: flex;
}
.top-bar-content-header-right-left
{
    height: 100%;
    border: 1px solid blue;
    width: 70%
}
.top-bar-content-header-right-left-top
{
    height: 50%;
    width: 100%;
    border: 1px solid magenta;
    text-align: center;
}
.top-bar-content-header-right-left-bot
{
    height: 50%;
    width: 100%;
    border: 1px solid green;
    text-align: center;
}


.top-bar-content-header-right-right
{
    height: 100%;
    border: 1px solid red;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}