.add-credit-container
{
    height:100vh;
    width:100%;
    border:1px solid magenta;
    display: flex;
}
.add-credit-content-data
{
    height: 90%;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-credit-content-data-center
{
    height: 70%;
    width: 70%;
    border: 1px solid red;
}
.add-credit-content-data-center-input
{
    height: 50%;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-credit-content-data-center-buttons
{
    height: 50%;
    border: 1px solid magenta;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-credit-content-data-center-buttons-center
{
    height: 70%;
    width: 80%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
}