.my-profile-container
{
    height:100vh;
    width:100%;
    border:1px solid magenta;
    display: flex;
}
.my-profile-content
{
    width: 85%;
    border:1px solid green;
    height:100vh;
}
.my-profile-content-data
{
    height: 90%;
    border: 1px solid blue;
}